@import 'variables';
@import url(https://fonts.googleapis.com/css?family=Hind:300,regular,500,600,700);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Hind, sans-serif;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $green;
  color: $text-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: $text-color;
}

.app {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.19);
  min-height: 100vh;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

p {
  font-size: 20px;
  font-weight: 500;
}

span {
  font-size: 18px;
}

button {
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 18px;
  background-color: $light-purple;
  color: $text-color;

  &:hover {
    background-color: $text-color;
    color: $light-purple;
  }
}

.disabled {
  background-color: $gray;
  cursor: no-drop;

  &:hover {
    background-color: $gray;
    color: $text-color;
  }
}