.shop {
  padding: 25px;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__img {
    overflow: hidden;
    border-radius: 75% 50px 20% 50px;
    -webkit-border-radius: 75% 50px 20% 50px;
    -moz-border-radius: 75% 50px 20% 50px;
    -ms-border-radius: 75% 50px 20% 50px;
    -o-border-radius: 75% 50px 20% 50px;

    img {
      display: block;
      width: 100%;
      height: fit-content;
    }
  }
  &__goods {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
