@import "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray;
  padding: 15px;

  &__logo {
    background-color: $light-purple;
    color: $text-color;
    padding: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    &:hover {
      background-color: $text-color;
      color: $light-purple;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__cart {
    position: relative;

    span {
      position: absolute;
      top: -40%;
      right: -40%;
      height: 15px;
      width: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $light-purple;
      color: $text-color;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }
  }
}